.like-btn {
  box-sizing: border-box;
  border-style: none;
  padding: 0;
  margin: 5px 5px 0 25px;
  background-color: transparent;
  transition: opacity .2s ease-out;
}

.like-btn:hover, .like-btn:active {
  opacity: .5;
}