.content__profile-info {
  margin: 42px 19px 36px;
}

@media screen and (min-width: 600px) {
  .content__profile-info {
    margin: 42px 40px 36px; 
  } 
}

@media screen and (min-width: 800px) {
  .content__profile-info {
    margin: 40px 75px 51px; 
  } 
}

@media screen and (min-width: 1030px) {
  .content__profile-info {
    margin: 40px auto 51px;
    width: 880px; 
  } 
}