.add-btn {
  width: 100%;
  max-width: 330px;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (min-width: 650px) {
  .add-btn {
    width: 150px;
    padding: 12px 0;
    margin-left: auto;
  }
}