.add-btn {
  width: 100%;
  max-width: 330px;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  flex-shrink: 0;
}

@media screen and (min-width: 600px) {
  .add-btn {
    width: 120px;
    padding: 12px 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .add-btn {
    width: 150px;
  }
}