.editable-text__main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 7px;
}

@media screen and (min-width: 600px) {
  .editable-text__main {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 950px) {
  .editable-text__main {
    margin-bottom: 8px;
  }
}