.image-card__like-btn {
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
  padding: 0;
  margin: 5px 0 0 25px;
  border: none;
  background-image: url(../../../images/ui/like-btn-pic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  transition: opacity .2s ease-out;
}

.image-card__like-btn:hover {
  cursor: pointer;
}

.image-card__like-btn:hover, .image-card__like-btn:active {
  opacity: .5;
}