.editable-text__edit-btn {
  box-sizing: border-box;
  padding: 4.25px;
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #fff;
}

@media screen and (min-width: 950px) {
  .editable-text__edit-btn {
    padding: 6px;
    margin-top: 15px;
  }
}