.popup__content {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  margin: 0 19px;
  padding: 25px 22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px #00000026;
}