.profile-info__profile-description {
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .profile-info__profile-description {
    text-align: left;
  }
}

@media screen and (min-width: 950px) {
  .profile-info__profile-description {
    font-size: 18px;
  }
}