.popup__input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 9px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #0003;
}

.popup__input-field:focus {
  outline: none;
  border-bottom: 1px solid #000;
}