.popup__close-btn {
  font-size: 0;
  position: absolute;
  top: -36px;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 500px) {
  .popup__close-btn {
    top: -40px;
  }
}

@media screen and (min-width: 600px) {
  .popup__close-btn {
    right: -40px;
  }
}