.editable-text__text-content {
  margin: 0 10px 0 28px;
  min-width: 0;
}

@media screen and (min-width: 600px) {
  .editable-text__text-content {
    margin: 0 10px 0 0;
  }
}

@media screen and (min-width: 950px) {
  .editable-text__text-content {
    margin: 0 18px 0 0;
  }
}