.popup__close-btn-icon{
  display: block;
  height: 20px;
}

@media screen and (min-width: 500px) {
  .popup__close-btn-icon {
    height: 24px;
  } 
}

@media screen and (min-width: 600px) {
  .popup__close-btn-icon {
    height: 32px;
  } 
}