.content__gallery {
  margin: 0 19px;
}

@media screen and (min-width: 600px) {
  .content__gallery {
    margin: 0 40px;
  }
}

@media screen and (min-width: 800px) {
  .content__gallery {
    margin: 0 75px;
  }
}