.page__footer {
  margin: 49px 19px 0;
}

@media screen and (min-width: 600px) {
  .page__footer {
    margin: 49px 40px 0;
  }
}

@media screen and (min-width: 800px) {
  .page__footer {
    margin: 49px 75px 0;
  }
}

@media screen and (min-width: 950px) {
  .page__footer {
    margin: 67px 75px 0;
  }
}

@media screen and (min-width: 1030px) {
  .page__footer {
    margin: 67px auto 0;
    max-width: 880px;
  }
}