.profile-info__editable-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 26px 0 33px;
}

@media screen and (min-width: 600px) {
  .profile-info__editable-text {
    align-self: flex-start;
    margin: 22px 30px 0 30px;
  } 
}