.popup__input-field-list {
  box-sizing: border-box;
  margin: 74px 0 13.5px;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 500px) {
  .popup__input-field-list {
    margin: 48px 0 17px;
  }
}